body {
  font-family: times;
  text-align: center;
    margin: 0;
    padding: 0;
    background-color: black;
    color: Black;
}
#header_div {
  font-size: 2em;
  color: #FF6600;
}

#form_div{

}


h1 {
    text-align: center;
}

#file-upload{
  margin-left: 10%;
}

h1 {
  color: orange;
  font-family: times;
}

#submit_button{
  display: block;
  width: 100%;
  font-size: 3em;
  border: none;
  height: 100px;
  position: fixed;
  bottom: 0;
  background-color: #99FF33;
}


.about {
  color:Black;
}
p {
  color: #FFF;
  font-size: 2em;
  text-align: center;
}

h3 {
  text-align: center;
  color: #FFF;
}

#space {
  height: 100px;
}

a {
  float: right;
  font-size: 2em;
  text-decoration: none;
  color: black;
}

#button-text {
  margin-top:24px;
}

.header{
  background-color:red;
}

.header {
  color: Green;
  text-align: center;
  font-size: 6em;
  background-color:#000;
}

#Anyvid-tag {
    display: inline;
}
h4 {
  color: #FFF;
}

.indVid h2,
.indvid h4 {
  color: orange;
  display: inline-block !important;
  margin: 0 auto;
}

.indVid {
  display: block;
  height: 300px;
  clear: both;
  margin: 0 0 5% 0;
  border-bottom: 2px solid white;
  padding: 2% ;
}

.vidDiv {
  display: inline-block;
  float: left;
  padding: 0 5% 0 20%;
}

.vidText {
  text-align: left;
  display: inline-block !important;
  float: left;
}

#map {
  width: 90%;
  height: 300px;
  margin: 0 5%;
}
