body {
  font-family: times;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: black;
  color: Black;

}
#header_div {
  font-size: 2em;
  color: #FF6600;
}

#searchCategories {
  margin: 0  0 5% 0;
}


h1 {
  text-align: center;
}

#file-upload{
  margin-left: 10%;
}

h1 {
  color: orange;
  font-family: times;
}

#submit_button{
  display: block;
  width: 100%;
  font-size: 3em;
  border: none;
  height: 100px;
  position: fixed;
  bottom: 0;
  background-color: #99FF33;
}


.about {
  color:Black;
}
p {
  color: #FFF;
  font-size: 2em;
  text-align: center;
}

h3 {
  text-align: center;
  color: #FFF;
}

a {
  float: right;
  font-size: 2em;
  text-decoration: none;
  color: black;
}

#button-text {
  margin-top:24px;
}

.header {
  color: Green;
  background-color:red;
  text-align: center;
  font-size: 6em;
  background-color:#000;
}

#Anyvid-tag {
    display: inline;
}
h4 {
  color: #FFF;
}

/*======Results Display===========*/

.indVid h2,
.indvid h4 {
  color: orange;
  display: inline-block !important;
  margin: 0 auto;
}

.indVid {
  display: block;
  width: 96%;
  clear: both;
  margin: 0 0 5% 0;
  padding: 2%;
  border-top: 2px solid white;
}

.vidDiv {
  display: inline-block;
  float: left;
  padding: 0 5% 0 20%;
}

.vidText {
  text-align: left;
  display: inline-block !important;
  float: left;
  padding: 2%;
}

iframe {
  padding: 1%;
  margin: 0 auto;
  width:420px;
  height:315px;
}

/*======Media Query===========*/



@media only screen and (max-width: 450px) {

  .header .fpLogo  {
    width: 2em;
    height: 2em;
    margin: 50px 0 0 50px;
  }

  .mission {
    font-size: 0.7em;
  }

  .mission h1 {
    font-size: 3em;
  }

  #submit_button {
    font-size: 3em;
    height: 100px;
    position: relative;
  }

  .indVid h2 {
    font-size: 1em;
  }

  .vidDiv {
    display: block;
    padding: 0;
  }

  .vidText {
    display: block;
    padding: 0;
  }

  iframe {
    padding: 1%;
    margin: 0 auto;
    width: 98%;
  }

  #header_div #anyvid-tag {
    font-size: 1em;
    margin: 50px 0 ;
    clear: both;
  }

  #catHeader h1 {
    margin: 25px 0 ;
    clear: both;
  }

  #form_div h1 {
    font-size: 1em;
  }

}
