body {
  font-family: times;
  text-align: center;
    margin: 0;
    padding: 0;
    background-color: black;

}
    #header_div {
      font-size: 2em;
      color: #FF6600;
    }
    #form_div{

    }

    h1 {
      color: orange;
      font-family: times;
    }

    h2 {color: #66CCFF;
      font-family: times;
      text-shadow: white 0px 0px 20px;
    }

    #submit_button {
      display: block;
      width: 100%;
      font-size: 3em;
      border: none;
      height: 100px;
      position: fixed;
      bottom: 0;
      background-color: #99FF33;
    }
    #pre {
      padding-bottom: 100px;
      color: white;
    }
